<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @presentation.subject %>
</p>

<p>
  <strong>Markdown:</strong>
  <%= @presentation.markdown %>
</p>

<p>
  <strong>Views:</strong>
  <%= @presentation.views %>
</p>

<p>
  <strong>User:</strong>
  <%= @presentation.user %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
